VinSocial/VinSocial.xcodeproj/project.xcworkspace/xcuserdata/anthony.xcuserdatad/UserInterfaceState.xcuserstate
VinSocial/VinSocial.xcodeproj/xcuserdata/anthony.xcuserdatad/xcschemes/xcschememanagement.plist
